body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(209, 209, 194);
    margin-top: -30px;
}

.container {
margin-top: 50px;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    border: 5px solid white;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    background-color: gray;
    box-shadow: 10px 10px;
}

.container .cell {
    background-color: white;
    border: 1px solid black;
}